<style>
div#color-style-switcher {
    display: none;
}
.about-col .para-space {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 28px;
}
</style>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->

    <title>chaitanya prem bhakti sangh </title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive stylesheet  -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>

    <!-- Preloader -->
    <!-- <div id="preloader">
        <div id="status"></div>
    </div> -->

    <!-- Main Header Start -->
    <header class="main-herader">
        <!-- Header top start -->
        <div class="header-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 full-wd-600">
                        <div class="header-topbar-col center767">
                            <p>All Glory To Shree Guru & Gaurang</p>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 full-wd-600">
                        <div class="header-topbar-col center767">
                            <p class="res-mb-10"></p>
                        </div>
                    </div> -->
                    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 full-wd-600">
                     
                      <div class="header-topbar-col center767">
                            <p style="text-align: right;">Founder Acharaya:-His Divine Grace Shri Vasudev Sharan Ji Maharaj "Virahi"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header top end -->
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav" id="navbar-main">
            <div class="container">            
                <!-- Start Atribute Navigation -->
                <!-- End Atribute Navigation -->
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right top-menu" data-in="fadeUp" data-out="fadeOut">
                        <li class="dropdown active">
                        <a href="index.html">Home</a></li>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >About Us</a>
                            <ul class="dropdown-menu">
                                <li><a href="introduction.html">Introduction</a></li>
                                <li><a href="objective.html">Objective</a></li>
                                <li><a href="founder_acharya.html">Founder Acharya</a></li>
                                <li><a href="present_acharya.html">Present Acharya</a></li>
                                <li><a href="guru_parampara.html">Guru Parampara</a></li>
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Philosophy</a>
                            <ul class="dropdown-menu">
                                <li><a href="gaudiya_vaishnavism.html">Gaudiya Vaishnavism</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Media</a>
                            <ul class="dropdown-menu">
                                <li><a href="image_gallery.html">Image Gallery</a></li>
                                <li><a href="books_gallery.html">Book Gallery</a></li>
                                <li><a href="audio_gallery.html">Audio Gallery</a></li>
                                <li><a href="video.html">Video Gallery</a></li>
                                <li><a href="calender.html">Vaishnav Calender</a></li>
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Activites</a>
                            <ul class="dropdown-menu">
                                <li><a href="festivals.html">Festivals</a></li>
                            <li><a href="24_hr.html">24 Hour Harinaam</a></li>
                            <li><a href="sunday_sanskritan.html">Sunday Sankirtan</a></li>
                               
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Contact</a>
                            <ul class="dropdown-menu">
                                <li><a href="contact_us.html">Contact Us</a></li>
                                <li><a href="our_center.html">Our centers</a></li>
                            </ul>
                        </li>
                        </div>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>   
        </nav>
        <!-- End Navigation -->
    </header>
   

    <!-- Team Start -->
     <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <div class="title-style">
                            <h2>KIRTAN</h2>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </section>
   
   <section class="kirtan">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
             <p><a href="#">Kirtan - Guru Maharaj Ji</a></p> 
             <hr>
             <p><a href="#">Aarti Kirtan</a></p>
          </div> 
          <div class="col-md-6">
             <p><a href="#">Kirtan - Devotees</a></p> 
             <hr>
             <p><a href="#">Prayers</a></p>
          </div>  
        </div>
    </div>
</section>
  
 
    
    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-col">
                        <h3>About <span>Us</span></h3>
                        <p class="top-para"><b>The official website of the Shree krishna chaitanya prem Bhakti sangh</b></p>
                        <p><b>Founder Acharaya:-</b>
                        <br/>Shri Shri Vasudev Sharan Ji Maharaj "Virahi"</p>
                        
                        
                            <!-- Social Link  -->
                        <div class="social-group">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="footer-col">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Objective</a></li>
                            <li><a href="#">Event</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-col">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="#">History</a></li>
                            <li><a href="#">About The God</a></li>
                            <li><a href="#">Guru parmpara</a></li>
                            <li><a href="#">Live Darshan</a></li>
                            <li><a href="#">Images Gallery</a></li>
                            <li><a href="#">Video Gallery</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-col address-col">
                        <h3>CONTACT US</h3>
                        <p></p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shri Chaitanya Mahaprabhu Ji Mandir, Vinay Nagar Colony, Pal Beechla, Ajmer (Rajasthan) India,<br/> Pincode-305001</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> chaitanyaprembhakti@gmail.com</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 09829845754 (Hare Krishna Das)</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 0145-2423541 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Copyright Start -->
    <section class="copyright-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-col text-center">
                        <p>©2018. Designed by <a href="#" target="_blank"></a> All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="#" class="scrollup">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>

    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- all plugins and JavaScript -->
    <script type="text/javascript" src="js/modernizr-custom.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootsnav.js"></script>
    <script type="text/javascript" src="js/VideoPopUp.jquery.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/jquery.waypoints.min.js"></script> 
    <script type="text/javascript" src="js/jquery.filterizr.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jarallax.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="js/header-animation.js"></script>
    <script type="text/javascript" src="js/imagesloaded.min.js"></script>

    <!-- Main Custom JS -->
    <script type="text/javascript" src="js/custom.js"></script>
    
    <!-- Color Switcher JS -->
    <script type="text/javascript" src="js/color-switcher.js"></script>

</body>

</html>
